@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

/* .trigger:hover {
  color: #1890ff;
} */
.grad {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background: rgb(86, 6, 126);
  background: linear-gradient(
    90deg,
    rgba(86, 6, 126, 1) 0%,
    rgba(18, 16, 20, 1) 15%,
    rgba(60, 39, 91, 1) 51%
  );
}
.avatar {
  left: 48%;
  right: 40%;
  transform: translate(-50%, -50%);
}
.spinner {
  width: 40px;
  height: 40px;
  display: grid;
  border: 3.2px solid #0000;
  border-radius: 50%;
  border-color: #9b9feb #0000;
  animation: spinner-e04l1k 1.2s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 1.6px;
  border: inherit;
  border-radius: 50%;
}
.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #483376 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #483376 0%,
    rgba(60, 51, 80, 0) 100%
  );
}
.green-pink-gradient {
  color: "#00cea8";
  color: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  color: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background-clip: text;
}
/* .spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #ac72ee);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
} */
.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #7c57eb;
  animation: text_713 3.5s ease both infinite;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #8463e5;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #d1c2ff;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}

.hostelBac {
  background-image: url("https://img.freepik.com/free-photo/abstract-background-with-ink_1112-820.jpg?w=826&t=st=1682330275~exp=1682330875~hmac=3106bd2a32dc33e38b423a4ce1c54ff296a07fc52390d946dcf7fc2a5f7f83c2");
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    60deg,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
/* .g2-html-annotation {
  color: #804dee;
} */
.g2-html-annotation {
  color: white !important;
}
h1.glow {
  font-size: 1.1rem;
  font-weight: bold;
  background-image: linear-gradient(
    60deg,
    rgb(247, 244, 244),
    rgb(249, 251, 250),
    rgb(240, 225, 230)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: glowing 2s ease-in-out infinite; */
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgb(180, 86, 243);
  padding: 2rem;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
}
.logo h1::first-letter {
  font-size: 2.1rem;
  color: orange;
}
.ant-layout-sider {
  background: #9f84e2 !important;
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout-header p {
  line-height: 0.9rem;
}
.ant-layout-sider-collapsed {
  background: #9f84e2 !important;
  flex: 0 0 90px !important;
  max-width: 90px !important;
  min-width: 90px !important;
  width: 90px !important;
}
.ant-layout {
  min-height: 100vh;
  /* background-color: rgb(25, 9, 9); */
}
.ant-menu-dark {
  color: whitesmoke;
  background: transparent !important;
}

.ant-menu-item-selected {
  background-color: #ba94d1 !important;
}
.ant-menu-item-icon {
  color: whitesmoke !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
}
.ant-menu-sub.ant-menu-inline {
  background: rgb(102, 100, 99) !important;
}

.ant-layout-header div .badge {
  top: 6px !important;
  right: -6px !important;
}

main {
  overflow-y: scroll;
  height: 85vh;
  background-color: transparent !important;
}
main::-webkit-scrollbar {
  width: 0px;
}

.green {
  color: rgb(119, 241, 182);
}

.red {
  color: rgb(251, 187, 187);
}

.quill {
  background-color: rgb(203, 178, 221) !important;
  width: 95%;
  margin: 0 auto;
}

.s {
  padding: 1rem;
}

.s input {
  /* width: 50%; */
}
.ant-upload-hint {
  color: rgb(39, 224, 178) !important;
}
.ant-upload-text {
  color: orange !important;
}
.ant-upload-drag-icon {
  color: rosybrown !important;
}

.anticon svg {
  color: teal;
}

.ant-spin-dot-item {
  background-color: #d61355 !important;
}

.ant-btn-primary {
  background-color: #ba94d1 !important;
}
/* .ant-btn {
  background-color: #ef6c54 !important;
} */

.cnt {
  transition: all 500ms ease-out;
}

.cnt:hover {
  color: orangered;
}

.separator {
  height: 4px;
  width: 100px;
  background-image: linear-gradient(to bottom, #ffffff, #000000);
  text-align: center;
  margin: 0 auto;
  margin: 40px;
  display: flex;
  justify-content: center;
}
