@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.dark-theme {
  --heading: #fff;
  --para: #dddddd;
  --btn-bg-color: linear-gradient(to top, #f12711, #f5af19);
  --btn-txt-clr: #dddddd;
  /* color-scheme: dark; */
  /* background-color: #121212; */
  /* color: #dddddd; */
}
/* .hun {
  width: 50px;
  height: 50px;
} */
.hun img {
  width: 300px;
  height: 100%;
}

.light-theme .hero-light {
  /* background-color: white; */
  /* background: url("https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&w=600"); */
  height: 100vh;
  width: 100%;
  background-image: url("./assets/wave\ \(4\).svg");
  /* background-size: cover;

  background-position: center; */
}

.light-theme h2 {
  color: #804dee;
}
.light-theme h1 {
  color: #804dee;
}
.light-theme h4 {
  color: #381c74;
}
.light-theme span a {
  color: #e3396c !important;
  font-weight: bold;
}
.light-theme p {
  color: rgba(17, 17, 16, 0.799);
}
.light-theme h6 {
  color: #eeeeee;
}
.light-theme h3 {
  color: #7bf0aa;
}
.light-theme .amen {
  color: #1d1d1f;
  border: 2px solid orangered;
}
/* .light-theme span {
  color: #121212;
  font-weight: bold;
} */
.light-theme .anc {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
.light-theme button {
  color: #00cea8;
}
.light-theme .formc {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
.light-theme .jump {
  color: #00cea8;
  border: 2px solid rgb(16, 16, 16);
}
.light-theme .btn-light {
  color: #0f0f0f;
}
.light-theme .ic {
  color: #e92424;
}

.light-theme {
  --heading: #804dee;
  --para: #121212;
  --btn-bg-color: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  --btn-txt-clr: #11998e;
  --bg-color: #dddddd;
  background-color: #dddddd;
  /* color: #121212; */
}
span.ant-switch-inner {
  background-color: red !important;
}
.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #090909,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a2a2a,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #483376 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #483376 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.about::nth-child(1) {
  background: red !important;
}

.green-pink-gradient {
  color: "#00cea8";
  color: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  color: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background-clip: text;
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-card {
  transition: all 600ms ease-in-out;
  cursor: pointer;
}
.about-card:hover {
  transform: scale(1.03);
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    60deg,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

/* .custom-file-upload {
  border: 1px solid #e01c1c;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.custom-file-upload:hover {
  background-color: #9d0e0e;
} */
.custom-file-upload {
  position: relative;
  display: inline-block;
  position: relative;
  font-size: 16px;
  margin-top: 5px;
  border: 2px solid white;
  background: rgba(69, 215, 122, 0.21);
  border-radius: 20px;
}

.custom-input-file input[type="file"] {
  /* position: absolute;
  left: 0;
  top: 0; */
  /* opacity: 0; */
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 2;
}

input#file-upload-button {
  background: red !important;
}
.custom-input-file label {
  /* display: inline-block;
  padding: 0.5em 1em;
  font-size: 16px;
  font-weight: bold;
  color: #fff; */
  /* background-color: #1890ff; */
  /* border-radius: 4px;
  cursor: pointer;
  z-index: 1; */
}
input::file-selector-button {
  font-weight: bold;
  color: rgb(236, 237, 238);
  padding: 0.5em;

  border-radius: 3px;
}

/* Set the upload button text color to white */
input[type="file"]::-webkit-file-upload-button {
  color: white;
}

/* Style the upload button */
input[type="file"]::file-selector-button {
  background-color: #81f3b8;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Style the upload button when it is hovered over */
input[type="file"]::file-selector-button:hover {
  background-color: #40a9ff;
}

/* input[type="file"] {
  display: none;
} */

.aboutBorder {
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: linear-gradient(60deg, #eef6f5, #2f80ed, #56ccf2, #11998e);
  transition: all 500ms ease-in;
}
.ant-upload-list-item:hover .ant-upload-list-item-info {
  background-color: transparent;
}
.ant-upload-select:hover .ant-upload-select-picture-card {
  background-color: transparent;
}

.adjust_button_hover_drawer.ant-btn:hover {
  border-color: white !important;
}
.ant-upload-list-item:hover .ant-upload-list-item-progress {
  background-color: transparent;
}
.aboutBorder:hover {
  box-shadow: rgba(243, 104, 104, 0.35) 0px 5px 15px;
}
.mySelect .ant-select-selector {
  border-color: transparent !important;
  border: none !important;
  background-color: #ddd !important;
  border-radius: 10px !important;
  height: 8vh !important;
  padding: 8px 31px !important;
  font-size: 14px;
  color: gray !important;
  /* line-height: 20; */
  outline: none !important;
  background: transparent !important;
}
.ant-select:focus {
  outline: none !important;
}
.ant-select:not(:focus-visible) {
  outline: none !important;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

.leaflet-container {
  width: 80%;
  height: 80vh;
  margin: 3rem auto;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #7f1acc 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #7f1acc);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.hostel {
  /* background-color: rgb(242, 238, 238); */
  /* height: 400vh; */
  color: #121212;
}

.hostelTop {
  height: 60vh;
  background-image: linear-gradient(
      to bottom,
      rgba(15, 11, 11, 0.5) 0%,
      rgba(222, 231, 236, 0.5) 100%
    ),
    url("./assets/412662.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: whitesmoke;
  position: relative;
  /* margin-bottom: -180px; */
}
.hostelTop h1::first-letter {
  font-size: 4rem;
  color: orange;
  font-weight: bold;
}
.hostelTop p::first-letter {
  font-size: 1rem;
  color: rgb(109, 127, 229);
  font-weight: bold;
}
.h {
  position: relative;
  /* background-color: red; */
}
.hostelMid {
  margin: 0.3rem 0;
}
.hostelMid h3::first-letter {
  color: #e25a16;
  font-weight: bold;
  font-size: 1.2rem;
}
.ant-list-item-meta {
  background: linear-gradient(45deg, black, transparent);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(66, 64, 64);
}

.clip {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.ant-list-item-meta-title > a {
  color: mediumpurple !important;
}
.ant-list-item-meta-description {
  color: white !important;
}

.button:disabled {
  background: silver;
  pointer-events: none;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff !important;
  min-height: 100px;
  padding: 20px 50px;
}

.footer .wave {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("./assets/wave\ \(1\).png");
  background-size: 1000px 100px;
}

.footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 10s linear infinite;
}
.footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 10s linear infinite;
}
.footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.5;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
.footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 4s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
